-
  var checkList = [
    {
      id: 2,
      title:"Проверка регистрационных кодов типа ОГРН и ОГРНИП.",
      desc: {
        p1:"Эти номера состоят из тринадцати либо пятнадцати цифр. При этом последняя цифра – n1 – является проверочной. Она определяется путём деления числа, которое состоит из первых двенадцати либо четырнадцати цифр на 11."}
    },
    {
      id: 3,
      title:"Проверка корреспондентских счетов",
      desc: {
        p1: "Данная операция осуществляется при помощи БИК банка. В процессе проверки перед номером счёта необходимо поставить «0», а также два знака БИК (с 5-го знака). Для вычисления контрольной суммы используются такие коэффициенты: 7,1,3,7,1,3,7,1,3,7,1,3,7,1,3,7,1,3,7,1,3,7,1. Проверочное число является остатком от контрольной суммы, разделённой на десять. Соответствующий результат сравнивается с нулём. Если вышеупомянутые значения равны, корреспондентский счёт является правильным."}
    },
    {
      id: 4,
      title: "Проверка расчётных счетов",
      desc: {
        p1: "В данном случае также применяется БИК банка. Перед номером счёта нужно поставить три последние цифры банковского идентификационного кода. Для вычисления контрольной суммы используются коэффициенты – 7,1,3,7,1,3,7,1,3,7,1,3,7,1,3,7,1,3,7,1,3,7,1. Проверочное число является остатком контрольной суммы, которая делится на десять. Полученное значение сравнивается с нулём. Если цифры совпадают, значит, счёт верный."
        }
    },
    {
      id: 5,
      title: "Проверка ОКПО",
      desc: {
        p1: "Во время данной операции применяется следующий алгоритм действий:",
        p2: " - вычисляется проверочная сумма с использованием таких коэффициентов 1,2,3,4,5,6,7;",
        p3: " - определяется 1-ое контрольное число. Операция выполняется путём деления проверочной суммы на одиннадцать;",
        p4: " - вычисляется контрольная сумма. При этом используются коэффициенты 3,4,5,6,7,8,9.",
        p5: " - определяется второе проверочное число. Если результат деления равен десяти, то данному проверочному числу присваивается ноль.",
        p6: "Когда первое контрольное число имеет значение больше десяти, восьмой знак в номере ОКПО сравнивается со вторым проверочным числом. Если восьмая цифра ОКПО меньше десяти, для сравнения используется первое проверочное число. Равенство вышеупомянутых значений свидетельствует о правильности классификатора."
      }
    },
    {
      id: 6,
      title: "Проверка ИНН (12 знаков)",
      desc: {
        p1: "Алгоритм выполнения соответствующей операции предполагает выполнение следующих операций:",
        p2: " - необходимо вычислить контрольную сумму с использованием таких коэффициентов: 7,2,4,10,3,5,9,4,6,8,0;",
        p3: " - нужно определить первое проверочное число, которое является остатком деления проверочной суммы на одиннадцать;",
        p4: " - в случае, когда первое проверочное число больше девяти, его надо разделить на десять. Остаток от деления принимается как первое контрольное число;",
        p5: " - необходимо определить контрольную сумму с использованием коэффициентов 3,7,2,4,10,3,5,9,4,6,8,0;",
        p6: " - надо вычислить второе контрольное число путём деления проверочной суммы на одиннадцать;",
        p7: " - в случае, когда второе проверочное число больше девяти, оно делится на десять. Остаток принимается как второе контрольное число;",
        p8: " - первое контрольное число сопоставляется с 11-м знаком налогового номера. Второе проверочное число сопоставляется с 12-м знаком. Равенство вышеупомянутых значений свидетельствует о правильности индивидуального налогового номера."
      }
    },
    { 
      id: 7,
      title: "Проверка десятизначного ИНН",
      desc: {
        p1: "Операция проводится по следующему алгоритму:",
        p2: " - выполняется вычисление контрольной суммы с использованием таких коэффициентов: 2,4,10,3,5,9,4,6,8,0;",
        p3: " - определяется проверочное число путём деления контрольной суммы на одиннадцать;",
        p4: " - если полученный результат больше девяти его необходимо разделить на десять. Остаток будет искомым значением;",
        p5: " - проверочное число сверяется с десятым знаком налогового номера. Равенство значений подтверждает правильность ИНН."
      }
    },
    {
      id: 8,
      title: "Подготовка документации, которая подтверждает расходы",
      desc: {
        p1: "Специалисты советуют не отражать в отчётной документации очень крупные суммы. Желательно разбивать отчётность на комплекты документации. При этом общая сумма в каждом пакете документов не должна превышать 120 тысяч рублей. Кроме того, составляя расчётные бухгалтерские бумаги, важно придерживаться следующих рекомендаций:",
        p2: " - не стоит волноваться. Согласно Федеральному законодательству предприятие не обязано отвечать за контрагента. Налоговая служба может лишь отказать организации в списании указанной суммы расходов по представленным документам;",
        p3: " - печать чеков необходимо осуществлять исключительно на специализированном оборудовании. В случае использования факса либо струйного принтера проверяющие органы сразу определят подделку;",
        p4: " - реквизиты, которые отражаются в отчётной финансовой документации, должны проходить проверку по соответствующим контрольным суммам. Порядок проведения таких операций представлен выше. Стоит отметить, что неверные реквизиты невозможно ввести в базу данных налоговой службы и 1С;",
        p5: " - важно использовать реквизиты только действующих организаций. Всю требуемую информацию о той либо иной компании или учреждении можно уточнить на специализированных сервисах в интернете;",
        p6: " Чтобы исключить ошибки и избежать возможных проблем с контролирующими службами, рекомендуем обращаться к специалистам нашей компании."
      }
    }
  ]

.checkit
  .container
    h2.checkit__title Проверка документа
    .checkit__content
      ul.checkit__list-btns
        each item in checkList
          li.checkit__item-btns
            button(type="button" data-id=`${item.id}`).checkit__item-btns-btn= item.title
      ul.checkit__list-text
        each item in checkList
          li.checkit__item-text(data-id=`${item.id}`)
            p= item.desc.p1
            p= item.desc.p2
            p= item.desc.p3
            p= item.desc.p4
            p= item.desc.p5
            p= item.desc.p6
            p= item.desc.p7
            p= item.desc.p8