-
  var vocList = [
    {
      id: "1",
      name: "ЭКЛЗ",
      desc: {
        p1: "Электронная Кассовая Лента Защищённая – специфический электронный блок, которым комплектуются современные кассовые аппараты, а также фискальные регистраторы. Работает устройство на основе уникального криптографического шифра (ключа). Этот код записывается в ЭКЛЗ непосредственно на стадии изготовления.",
        p2: "Все текущие операции, производимые посредством кассовых аппаратов, обязательно сопровождаются вычислением специального контрольного кода, состоящего из нескольких значений:",
        p3: " - криптографический ключ;",
        p4: " - сумма производимой финансовой операции;",
        p5: " - показания счётчика количества кассовых операций (номер текущего действия);",
        p6: " - дата и точное время выполнения расчётной операции;",
        p7: " Помимо этого, на кассовой ленте отображаются иные соответствующие параметры."
      }
    },
    {
      id: "2",
      name: "ККТ",
      desc: {
        p1: "Контрольно-кассовая техника – специализированное оборудование, применяемое для проведения денежных расчётов в наличной форме. Также аппаратура используется при выполнении финансовых операций с платёжными банковскими картами;",
      }
    },
    {
      id: 3,
      name: "ККМ",
      desc: {
        p1: "Контрольно-кассовая машина – специальное оборудование, используемое с целью обеспечения контроля денежного оборота. Устройство позволяет отслеживать своевременность, объёмы и полноту оприходования выручки конкретным предприятием."
      }
    },
    {
      id: 4,
      name: "ООО",
      desc: {
        p1: "Общество с ограниченной ответственностью –организация, учреждённая одним либо несколькими физическими или юридическими лицами (предприятиями). Уставный капитал такой структуры разделён на определённые части, которые принадлежат непосредственным учредителям. Целью создания ООО является осуществление некой коммерческой деятельности (производство продукции, реализация товаров, оказание услуг,), а также получение соответствующей прибыли. При этом участники такой коммерческой структуры не несут юридической ответственности по её обязательствам и не рискуют понести убытки, которые превысят суммы их первоначальных вкладов."
      }
    },
    {
      id: 5,
      name: "ОКЭР",
      desc: {
        p1: "Федеральный классификатор экономических регионов."
      }
    },
    {
      id: 6,
      name: "Р/с",
      desc: {
        p1: "Расчётный счёт – это специфический финансовый счёт, который открывается в банке и присваивается конкретному юридическому лицу, выполняющему функции коммерческого предприятия. Владелец такого счёта может на своё усмотрение распоряжаться соответствующими денежными активами, а также осуществлять любые транзакции, разрешённые действующим законодательством."
      }
    },
    {
      id: 7,
      name: "Окуд",
      desc: {
        p1: "Российский классификатор управленческой документации."
      }
    },
    {
      id: 8,
      name: "ОКПО",
      desc: {
        p1: "Федеральный классификатор предприятий и организаций. Соответствующий номер присваивается юридическому лицу либо индивидуальному предпринимателю непосредственно при регистрации соответствующих прав. Данный код указывает на вид деятельности коммерческой либо некоммерческой структуры. Номер ОКПО не является уникальным. В случае изменения формы деятельности организации меняется номер ОКПО."
      }
    },
    {
      id: 9,
      name: "ОКДП",
      desc: {
        p1: "Классификатор видов хозяйственной деятельности, реализуемой продукции и предоставляемых услуг."
      }
    },
    {
      id: 10,
      name: "ОКЕИ",
      desc: {
        p1: "Классификатор единиц измерения, используемых в России."
      }
    },
    {
      id: 11,
      name: "ОКАТО",
      desc: {
        p1: "Классификатор объектов административно-территориального деления, который является частью специальной системы кодирования и классификации данных, имеющих отношение к экономике, технике и социальным сферам. Соответствующий номер предназначен для обеспечения достоверности и сопоставимости, а также автоматизированной обработки специфической информации. Используется в таких отраслях как экономика, статистика, прочие подобные сферы."
      }
    },
    {
      id: 12,
      name: "НДС",
      desc: {
        p1: "Налог на добавленную стоимость – форма изъятия определённой суммы финансовых средств в бюджет государства. Размер такой суммы зависит непосредственно от стоимости товара или услуги. Существует три ставки НДС – 10, 18 И 0 процентов. При этом ставка налога для того либо иного предприятия определяется формой хозяйственной деятельности этой структуры. Также учитывается тип реализуемой продукции и специфика предоставляемых услуг."
      }
    },
    {
      id: 13,
      name: "КПП",
      desc: {
        p1: "Специфический девятизначный код, состоящий из таких числовых элементов:",
        p2: " - первые четыре цифры отображают шифр, который присваивает налоговая служба в момент постановки организации на государственный учёт;",
        p3: " - пятая и шестая цифра – коды, отражающие причину постановки юридического лица на учёт;",
        p4: " - знаки с седьмого по девятый включительно – порядковый номер постановки хозяйственной организации на учёт.",
        p5: " Идентификационный номер в сочетании с кодом КПП даёт возможность определить и идентифицировать любое обособленное подразделение предприятия, учреждения, коммерческой структуры."
      }
    },
    {
      id: 14,
      name: "ИП",
      desc: {
        p1: "Индивидуальный предприниматель – физическое лицо, осуществляющее конкретную хозяйственную деятельность (изготовление продукции в небольших объёмах, перевозки, реализация товаров, предоставление услуг, прочее). Индивидуальными предпринимателями являются также охранники, детективы и нотариусы, предоставляющие свои услуги в частном порядке. ИП должен быть зарегистрирован согласно нормам Федерального законодательства. При этом исключается необходимость образования юр. лица.",
        p2: " Согласно действующим законам физические лица, осуществляющие ту либо иную предпринимательскую деятельность без госрегистрации соответствующих прав, приравниваются индивидуальным предпринимателям и должны исполнять все обязательства, предусмотренные НК России. В случае возникновения споров касательно хозяйственной деятельности таких лиц они не имеют права не признавать себя ИП."
      }
    },
    {
      id: 15,
      name: "ИНН",
      desc: {
        p1: "Идентификационный номер налогоплательщика присваивается всем субъектам права, которые являются резидентами Российской Федерации, проживают, обучаются, работают на территории РФ либо за её пределами. Такой номер является единым на все виды существующих налогов, подлежащих уплате в связи с выполнением любой хозяйственной деятельности или проведением расчётных операций. Кроме того, ИНН используется при начислении налога и изъятии соответствующих средств в случаях перевозки товаров через таможню.",
        p2: " Идентификационный номер налогоплательщика указывается во всех документах, направляемых в государственную налоговую службу – декларации, отчётная документация, заявления, прочие документы. Порядок и специфика применения ИНН, а также условия его присвоения и изменения определяются соответствующим Министерством РФ.",
      }
    },
    {
      id: 16,
      name: "БИК",
      desc: {
        p1: "Банковский идентификационный код – специфический уникальный номер, который используется для идентификации финансового учреждения. Код указывается в различных платёжных поручениях, аккредитивах, прочих соответствующих документах. Классификатор банковских идентификационных кодов ведёт Центробанк РФ."
      }
    }
  ]

.vacab
  h2.vocab__title Словарь
  .vocab__content
    ul.vocab__list-btns
      each item in vocList
        li.vocab__item-btns-button
          button.vocab__item-btn(type="button" data-id=`${item.id}`)= item.name
    ul.vocab__list-text
      each item in vocList 
        li.vocab__item-text(data-id=`${item.id}`)  
          h3= item.name
          p= item.desc.p1
          p= item.desc.p2
          p= item.desc.p3
          p= item.desc.p4
          p= item.desc.p5
          p= item.desc.p6
          p= item.desc.p7
